.contacts {
  padding: 0 20px;
}

.contact-ggmap {
  margin: 40px 0 50px;
}

.contact-ggmap iframe {
  width: 100%;
}

.contact-info_title {
  font-size: 18px;
  font-weight: 600;
  color: #004c98;
  text-align: center;
  background: #fbfbfb;
  padding: 10px 10px 10px 10px;
  font-family: var(--font-secondary);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.contact-info {
  margin: 0 -15px 50px;
}

.contact-info_form,
.contact-info_address {
  margin: 0 15px;
  background: #fff;
  border-left: 1px solid var(--color-border);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 10%);
}

.contact-info_form form {
  padding: 0 10px;
}

.contact-form_section {
  display: flex;
  flex-direction: column;
  margin: 5px 0 15px 0;
  padding: 0 15px;
}

.contact-form_section label {
  max-width: 160px;
  flex: 1;
}

.contact-form_section input,
select,
textarea {
  border-radius: 5px;
  padding: 10px 8px;
  font-size: 14px;
  border: 0.5px solid #999;
}

.contact-form_section textarea,
input {
  flex: 1;
}

.contact-form_section input[type="submit"] {
  padding: 10px 34px;
  color: #fff;
  background: #004c98;
  border-radius: 5px;
  font-family: var(--font-secondary);
}

.contact-form_section.l-12 {
  flex-direction: row;
}

.contact_address {
  padding: 10px 20px;
}

.contact_address h3 {
  color: var(--color-black);
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  margin: 0 0 10px 0;
  font-family: var(--font-secondary);
}

.contact_address p {
  margin-bottom: 10px;
}

.contact_address a {
  text-decoration: none;
  color: var(--color-black);
  transition: all 0.1s linear;
}

.contact_address a:hover {
  color: var(--color-primary);
}

.contact-form_section input:focus,
textarea:focus, select {
  outline: none;
}

/* tablet version */
@media only screen and (max-width: 1161px) {
  .contact-form_section.l-12 {
    flex-direction: column;
  }
  .contact-form_section label {
    flex: none;
  }
}

/* mobile version */
@media only screen and (max-width: 767px) {
  .contact-ggmap iframe {
    height: 280px;
  }

  .contact-info_form {
    margin-bottom: 30px;
  }

  .contact-form_section.l-12 {
    flex-direction: column;
}

  .contact-form_section label {
    flex: 0;
  }
}
