.product-detail {
    background: #eeeeee;
}

.product-detail_left,
.product-detail_right {
    background: #fff;
    margin: 20px 10px;
    padding: 20px 10px;
}

.product .thumb img {
    width: 100%;
}

.name_product {
    margin-top: 0;
    font-size: 25px;
}

.product_info p{
    display: block;
    margin-bottom: 10px;
}

.product_info .phone_call {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.wc-tabs {
    display: flex;
}

.wc-tabs li {
    margin: 0 5px 0 0;
    border: 1px solid #ddd;
    background-color: #ebe9eb;
    border-bottom: 3px solid #164892;
}

.wc-tabs li a {
    padding: 10px 15px;
}

.tabs-panel {
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
}

.reviews .comment h2 {
    margin: 15px 0;
}

.comment-form-comment {
    display: flex;
    flex-direction: column;
}

textarea:focus, input:focus {
    outline: none;
}

input#submit {
    cursor: pointer;
    padding: 0.618em 1em;
    border-radius: 3px;
    color: #515151;
    background-color: #ebe9eb;
    border: none;
    font-size: 14px;
}

.comment-form-rating,
.comment-form-comment,
.comment-form-cookies-consent {
    margin: 15px 0;
}

.menu_products {
    margin-top: 20px;
}

.menu_products h3 {
    padding-bottom: 10px;
}

.menu_products-item a img {
    width: 70px;
}

.menu_products-item a {
    display: flex;
}

.menu_products-item a h3{
    flex: 1;
}

.menu_products {
    padding: 15px;
}

.menu_products-item {
    margin: 10px 0;
}

.menu_products-item:hover a{
    color: #164892;
}

.related-products_item img {
    width: 100%;
}

.related-products_item {
    padding: 20px;
    border: 1px solid #ebe9eb;
}

.related-products h3 {
    margin: 20px 0 10px 0;
}

.product_info {
    padding-left: 30px;
}

.content__tab {
    display: none;
}

.content__tab.active {
    display: block;
}

.tab-item.active{
    background: #1c4286;
    color: #fff;
    font-weight: 600;
}

.tab-item {
    padding: 10px 12px;
    cursor: pointer;
}